# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=stamp_slack

# Slack Configuration
SLACK_CLIENT_ID=your_slack_client_id
SLACK_CLIENT_SECRET=your_slack_client_secret

# Application Configuration
PORT=3000
NODE_ENV=development
AUTH_SUCCESS_REDIRECT_URL=https://miro.medium.com/max/5000/1*QqoS6WsjG6WSr9-BFFQhbA.jpeg
