<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Stamp</title>
</head>
<body>
<div>Welcome to Stamp</div>
<div>Make emoji bigger by using /stamp :emoji: </div>
<a href={{ href }}>
    <img alt='Add to Slack' height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
</a>
</body>
